.footer {
    background-color: var(--secondary-color);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-primary);
    flex-direction: column;

    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
}